In [1]:
import pandas as pd

In [111]:
df = pd.read_excel('task6.xlsx')

In [112]:
df

                                               adres
0          Tugay Yolu Cad. No:60 12537489122 Maltepe
1  İnkılap Mah. 88372637771 Küçüksu Cd. No 6 Ümra...
2     11293888122 Soğanlık Mah. Muş Sk. No 63 Kartal
3           Bilezikçi sk 147 Şişli İstanbul 12229386

In [113]:
a = df.adres.apply(lambda x : x.split())

In [114]:
a

0     [Tugay, Yolu, Cad., No:60, 12537489122, Maltepe]
1    [İnkılap, Mah., 88372637771, Küçüksu, Cd., No,...
2    [11293888122, Soğanlık, Mah., Muş, Sk., No, 63...
3      [Bilezikçi, sk, 147, Şişli, İstanbul, 12229386]
Name: adres, dtype: object

In [115]:
numbers = [[k for k in i if k.isdigit()] for i in a]

In [116]:
numbers

[['12537489122'],
 ['88372637771', '6'],
 ['11293888122', '63'],
 ['147', '12229386']]

In [117]:
tc = []
parcalar = []

for i in numbers:
    a = ''
    for k in i:
        if len(k) ==11 and len(i) != 1:
            tc.append(k)
            parcalar.append(k)
    else:
        a = ''.join(i)
        if len(a) == 11:
            tc.append(a)
            parcalar.extend(i)
            
print(tc)
print(parcalar)

['12537489122', '88372637771', '11293888122', '14712229386']
['12537489122', '88372637771', '11293888122', '147', '12229386']

In [119]:
df['tc'] = pd.Series(tc)

In [120]:
df

                                               adres           tc
0          Tugay Yolu Cad. No:60 12537489122 Maltepe  12537489122
1  İnkılap Mah. 88372637771 Küçüksu Cd. No 6 Ümra...  88372637771
2     11293888122 Soğanlık Mah. Muş Sk. No 63 Kartal  11293888122
3           Bilezikçi sk 147 Şişli İstanbul 12229386  14712229386

In [121]:
for i in parcalar:
    df.adres = df.adres.str.replace(i,'')

In [122]:
df

                                     adres           tc
0           Tugay Yolu Cad. No:60  Maltepe  12537489122
1  İnkılap Mah.  Küçüksu Cd. No 6 Ümraniye  88372637771
2       Soğanlık Mah. Muş Sk. No 63 Kartal  11293888122
3            Bilezikçi sk  Şişli İstanbul   14712229386