In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("task3.xlsx")

In [3]:
df.head()

,IS_ADRESI,EV_ADRESI
0,Tugay Yolu Cad. No:60 Maltepe,Tugay Yolu Caddesi No60 MALTEPE
1,İnkılap Mah. Küçüksu Cd. No 6 Ümraniye,İnkılap Mahallesi Küçüksu Caddesi No 6 Ümraniye
2,Soğanlık Mah. Muş Sk. No 63 Kartal,Soğanlık Mah. Muş Sk. No 61 Kartal

In [6]:
df_new = df.apply(lambda x : x.str.lower().str.replace(':', '').str.replace('.', '')
        .str.replace(" cad ", "caddesi").str.replace(" cd ", "caddesi")
         .str.replace(" mah ", "mahallesi").str.replace(" ", ""))

In [10]:
df[df_new['IS_ADRESI'] == df_new['EV_ADRESI']]

,IS_ADRESI,EV_ADRESI
0,Tugay Yolu Cad. No:60 Maltepe,Tugay Yolu Caddesi No60 MALTEPE
1,İnkılap Mah. Küçüksu Cd. No 6 Ümraniye,İnkılap Mahallesi Küçüksu Caddesi No 6 Ümraniye