In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('task2.xlsx')
df

   ID                  EMAIL
0   1  deniz@sadeyazilim.com
1   2  kadir@SADEYAZILIM.COM
2   3       kadir@afirma.com
3   4        Ceyda@gmail.com
4   5          ali@gmail.com
5   6  tamer@sadeyazilim.com
6   7   müge@testbank.com.tr

In [3]:
df.columns = ['id', 'email']
df

   id                  email
0   1  deniz@sadeyazilim.com
1   2  kadir@SADEYAZILIM.COM
2   3       kadir@afirma.com
3   4        Ceyda@gmail.com
4   5          ali@gmail.com
5   6  tamer@sadeyazilim.com
6   7   müge@testbank.com.tr

In [8]:
df.email = df.email.str.lower().str.split('@')

In [14]:
sözlük = {}
for i in df.email:
    if i[1].split('.')[0] not in sözlük:
        sözlük[i[1].split('.')[0]]=[i[0]]
    else:
        sözlük[i[1].split('.')[0]].append(i[0])
print(sözlük)

{'sadeyazilim': ['deniz', 'kadir', 'tamer'], 'afirma': ['kadir'], 'gmail': ['ceyda', 'ali'], 'testbank': ['müge']}